.App {
  display:fixed;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  background-color: #282c34;
  font-size: calc(10px + 1vmin);
  color: white;
  min-height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite .333s linear;
  height: 5vmin;
}

h4 {
  font-family: monospace;
  font-weight: 10;
  margin-top: -0.7vmin;
  padding-left: 40vmin;
  font-size: calc(10px + 1vmin);
}

h5 {
  margin-top: 2vmin;
  font-weight: 10;
  font-family: monospace;
  font-size: calc(10px + 0.3vmin);
  padding-left: 5vmin;
}

.flex {
  display: flex;
  color: lightgreen;
  text-shadow: 0 5px 4px rgba(0,0,0,0.7);
  justify-content: space-around;
}

.footer {
  font-size: calc(10px + 0.4vmin);
  margin-left: 2vmin;
  padding:2vmin;
  border-top: solid 2px green;
}

.top-1 { margin-top: 1vmin; }
.top-2 { margin-top: 2vmin; }
.top-4 { margin-top: 4vmin; }

.left-1 { margin-left: 1vmin; }
.left-2 { margin-left: 2vmin; }
.left-4 { margin-left: 16vmin;}

.wallet { color: lightgray; }

.width-60 {
  word-break: break-all;
  width: 30vmin;
}

.key {
  width: 30vmin;
  word-break: break-all;
  margin-right: 4vmin;
}

.comment {
  color: darkgray;
}

.mail-link {
  color:lightgreen;
}

.code {
  width: 140px;
  margin-top: 1vmin;
  padding: 2vmin;
  background-color: white;
}

.h-box {
  margin-bottom: 2vmin;
}
.App-ui span {
  padding-left: 2vmin;
}
.App-ui {
  margin-left: 3vmin;
  padding-top: 3vmin;
  border-top: solid 1px white;
}

input[type="text"]:focus {
  border: none;
  background-color: #484c54;
}

textarea {
  height: 20vmin;
  resize: none;
}

input[type="text"], textarea {
  width: 40vmin;
  padding: 1vmin;
  font-family: monospace;
  background-color: #383c44;
  color: lightgreen;
  border: none;
}

.copyable {
  user-select: none;
  cursor: pointer;
  background-color: #181c24;
}

.App-header span {
    margin-left: 3vmin;
}
.App-header {
  padding-top: 3vmin;
  display: flex;
  align-items: flex-start;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.key-field {
  height: 80px;
}

.copy-area {
  visibility: hidden;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
